functionality:
  name: civ6_pipeline
  namespace: pipeline_demos
  description: |
    Demo pipeline for converting civ6 save games to a gameplay video.
  authors:
    - name: Robrecht Cannoodt
      email: robrecht@data-intuitive.com
      roles: [ author ]
      props: { github: rcannood, orcid: "0000-0003-3641-729X" }
    - name: Toni Verbeiren
      roles: [ author, maintainer ]
      props: { github: tverbeiren }
  arguments:
    - name: "--input"
      alternatives: [ "-i" ]
      type: file
      required: true
      description: Pointer to .Civ6Save file(s), can contain wildcards
      example: output
  resources:
    - type: nextflow_script
      path: main.nf
